<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/projects">Projects</a></li>
      <li ><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1><%= @project.title %></h1>
  <div class="info-card">
    <h2><a href="/projects/<%= @project.id %>/edit">Edit Project</a></h2>
 
    <h2>Volunteer List</h2>
      <% if @project.volunteers.any? %>
      <ul>
        <% @project.volunteers.each do |volunteer| %>
          <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
          <% end %> 
      </ul>
      <% else %>
        No volunteers on this project yet.
      <% end %>
    
      <h3>Add Volunteer to Project</h3>
      
    <form method="post" action="/projects/<%= @project.id %>/new-volunteer" class="form">
    <em>Warning: this action will remove them from their current project.</em>
      <input value="patch" name="_method" type="hidden">
      <div class="form-group">
        <select class="form-control" name="volunteer">
          <option selected value="">--</option>
          <% if @volunteers.any? %>
            <% @volunteers.each do |volunteer| %>
            <option value="<%= volunteer.id %>"><%= volunteer.name %></option>
          <% end %>
        <% end %>
      </select>
      </div>
      <button type="submit" class="btn btn-secondary">Add</button>
    </form>  
   
  </div>
  
  
  
</div>