<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/projects">Projects</a></li>
      <li><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Volunteer Tracker</h1>
  <div class="info-card">
    <h2>Current Projects</h2>
    <% if @projects.any? %>  
    <ol>
      <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
        <% if project.volunteers.any? %>
          <ul>
            <% project.volunteers.each do |volunteer| %>
              <li><a href="/projects/<%= volunteer.project_id %>/volunteers/<%= volunteer.id %>">Volunteer: <%= volunteer.name %></a></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ol>
    <% else %>
      <p>No projects currently to display</p>
    <% end %>
  </div>
  <div class="form-holder">
    <h3>Add a New Project</h3>
    <form method="post" action="/projects" class="form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" name="title">
      </div>
        <button type="submit" class="btn btn-light">Create Project</button>
     
    </form>
  </div>
</div>