<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li class="active"><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1><%= @project.title %></h1>
  <div class="info-card">
    <h2>Update Project</h2>
    <form method="post" action="/projects/<%= @project.id %>" class="form">
      <input type="hidden" value="patch" name="_method"> 
      <div class="form-group">
        <label for="project">Title:</label>
        <input value="<%= @project.title %>" type="text" class="form-control" id="project" name="project">
      </div>
      <button type="submit" class="btn btn-secondary">Update</button>
    </form>  
    <form class="form" action="/projects/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>

  <div class="info-card">
    <h2>Volunteer List</h2>
      <% if @project.volunteers.any? %>
      <ul>
        <% @project.volunteers.each do |volunteer| %>
          <li><%= volunteer.name %></li>
          <% end %> 
      </ul>
      <% else %>
        No volunteers on this project yet.
      <% end %>
    
      <h3>Add Volunteer to Project</h3>
      <em>Warning: this action will remove them from their current project.</em>
    <form method="post" action="/projects/<%= @project.id %>/new-volunteer" class="form">
      <input value="patch" name="_method" type="hidden">
      <div class="form-group">
        <select class="form-control" name="volunteer">
          <option selected value="">--</option>
          <% if @volunteers.any? %>
            <% @volunteers.each do |volunteer| %>
            <option value="<%= volunteer.id %>"><%= volunteer.name %></option>
          <% end %>
        <% end %>
      </select>
      </div>
      <button type="submit" class="btn btn-secondary">Add</button>
    </form>  
   
  </div>
  
  
  
</div>